<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  owner: 'xpengV',
  repo: 'xpengV.github.io',
  oauth: {
    client_id: 'bea94c65743bca940b97',
    client_secret: '79a8f5af339bf92f60a9e364eca69d1ba280d7eb',
  },
})
gitment.render('container')
</script>
