---
layout: post
slug: photos
title: 相册 & 视频
noDate: true
comments: false
open_in_new: false
declare: false
abbrlink: 9ba45dce
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
    <a class="photos-btn" href="/photos">Photos</a>
    <a class="photos-btn active" href="/photos/videos.html">Videos</a>
</div>
<!-- 需要IPC备案，否则不能加载视频 -->
<br/>
<center><span style="font-size:20px;font-family:黑体">emmmm...这是一个未实现的功能！<em>^_^</em></span></center>
<br/>
<hr/>
