---
layout: post
slug: verb
title: 留言板
noDate: 'true'
comments: 'true'
declare: false
abbrlink: c0297c2d
---
<center><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=450 src="//music.163.com/outchain/player?type=0&id=2483656136&auto=1&height=430"></iframe></center>
<p><center><h4>幸福其实很简单：有人爱、有事做、有所期待!  要留言哦(<em>^__^</em>)</h4></center><br><img src="/img/verb/verb_img.jpg" alt="向日葵一样的生活" title="向日葵一样的生活"></p>
